.Container-container {
    padding: 10px;

}

.container {
    margin: 0 auto;
    width: 65%;
    text-align: left;
    border: solid;
    border-color: purple;
    color: rgb(0, 0, 0);
    border-radius: 55px;
    background-color: rgb(246, 199, 255);
    overflow: hidden;
    text-align: left;
    margin: 0 auto;
    padding: 1px;
}



.contactme {
    width: 100%;

}

.contactme img {
    overflow: hidden;
    width: 100%;
}


/* Default styles for input[type=text], select, textarea */
input[type=text],
select,
textarea {
    text-align: left;
    color: black;
    background-color: white;
    width: 100%;
    padding: 10px;
    border: 1px solid purple;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Default styles for .SubmitButton */
.SubmitButton {
    font-size: 16px;
    background-color: purple;
    text-align: center;
    color: white;
    border-radius: 30px;
    padding-bottom: 1px;
    cursor: pointer;
    border: solid;
    width: 100px;
    margin: 5px auto;
}

.SubmitButton:hover {
    background-color: rgb(246, 199, 255);
    border-color: purple;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
        /* Reduce the width for smaller screens */
    }

    input[type=text],
    select,
    textarea {
        font-size: 14px;
        /* Adjust font size for better readability on small screens */
    }

    .SubmitButton {
        font-size: 14px;
        /* Adjust font size for better readability on small screens */
    }
}

/* Additional media queries for other screen sizes if needed */