.container {
    margin: auto;
    width: 60%;
    text-align: left;
    border: solid;
    border-color: purple;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(246, 199, 255);
    padding: 20px;

}

input[type=text],
select,
textarea {
    text-align: left;
    color: black;
    background-color: white;
    width: 100%;
    padding: 12px;
    border: 1px solid purple;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.SubmitButton {
    font-size: 16px;
    background-color: purple;
    color: white;
    padding: 1px;
    border: solid;
    border-color: black;
    border-radius: 2px;
    cursor: pointer;
    border: solid;
    width: 100px;
    height: 35px;
    margin: 0 auto;
}

.SubmitButton:hover {
    background-color: rgb(246, 199, 255);
}