.Home {
    text-align: center;
    margin: 30px;
    background-color: black;
    color: white;
}

.Home-Image {
    width: 50%;
    height: 50%;
    justify-content: flex-start;
}


.text {
    font-size: 20px;
    color: rgb(203, 16, 178) !important;
}

.h1 {
    font-size: 20px;
    color: white;
}