.Packages {
    background-color: rgb(180, 50, 194);
    list-style: none;
    padding: 10px;
    margin: 0;
}


.package-container {
    height: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.package-wrapper {
    display: flex;
    flex-direction: row;
}

.package1,
.package2,
.package3 {
    width: calc(40.33% - 10px);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
}


.birth {
    width: 101%;
    border-radius: 50px;
}



.package-box {
    overflow: hidden;

}

.package-container {
    margin: 0;
    padding: 0;
}


.package3 {
    height: 103vh;
}

.package-box {
    border-radius: 55px;
    flex: 1;
    padding: 0px;
    background-color: rgb(246, 199, 255);
    color: rgb(0, 0, 0);
    border: 2px solid;
    margin-right: 25px;
    height: 144vh;
}

.package-box:last-child {
    margin-right: 0;
}

.Packages li {
    border-radius: 5px;
    padding: 20px;
    margin: 5px 120px;
}

.Packages h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Packages p {
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.5;
}

.Pack-List {
    padding-right: 5px;
    text-align: solid;
    font-size: 19px;
    height: 100px;

}

.Pack-Text {
    padding: 3px;
    color: purple;
    font-size: 20px;
}